asgiref==3.8.1
Brotli==1.1.0
cachetools==5.5.0
certifi==2024.8.30
charset-normalizer==3.4.0
click==8.1.7
Django==4.2.16
django-ckeditor-5==0.2.15
django-js-asset==2.2.0
google-auth==2.36.0
google-auth-oauthlib==1.2.1
gspread==6.1.4
gunicorn==23.0.0
h11==0.14.0
idna==3.10
oauthlib==3.2.2
packaging==24.2
pillow==11.0.0
psycopg2-binary==2.9.10
pyasn1==0.6.1
pyasn1_modules==0.4.1
python-dotenv==1.0.1
requests==2.32.3
requests-oauthlib==2.0.0
rsa==4.9
sqlparse==0.5.2
tqdm==4.67.1
typing_extensions==4.12.2
urllib3==2.2.3
uvicorn==0.32.1
whitenoise==6.8.2
